body{
	font-size: 17px;
	
}

.avatar{
	width: 200px;
	margin: 40px;
}

.logo{
	width: 100px;
    margin-left: 70px;
}
.logo:hover{
	opacity: 0.9;
}



li > a:hover{

	border-bottom:solid;	 
	border-bottom-color: #2374c7;
	
}



.navbar{
	margin-right: 100px;
	padding: 10px 0;
    background: #17baef;
    color: #fff;
    height: 55px;
    width: 100%;
	
}

.dropdown {
	margin-top: 7px;
}

#projetos{
	width: 200px;
}